{%- macro tweet_box_template() -%}
  <div class="tweet-box">
    <div class="user-picture">
      <img src="{{ me.picture_url }}" />
    </div>
    <div class="content">
      <textarea class="tweet-textarea" placeholder="What's happening?" rows="3"></textarea>
      <div class="controls">
        <div class="chars-left">140</div>
        <button class="submit">Tweet</button>
      </div>
    </div>
  </div>
{%- endmacro %}

{%- macro tweet_box_styles_template() -%}
<style>
.tweets-feed .tweet-box {
  padding: 14px 28px;
  background-color: #e8f5fd;
}

.tweets-feed .tweet-box .user-picture {
  display: inline-block;
  vertical-align: top;
}

.tweets-feed .tweet-box .user-picture img {
  width: 34px;
  border-radius: 17px;
}

.tweets-feed .tweet-box .content {
  display: inline-block;
  margin-left: 10px;
}

.tweets-feed .tweet-box .content textarea {
  padding: 10px 14px;
  resize: none;
  width: 400px;
  border-radius: 14px;
  border: 2px solid #a4d9f9;
  font-size: 14px;
}

.tweets-feed .tweet-box .content textarea::placeholder {
  color: #c3ccd4;
}

.tweets-feed .tweet-box .content textarea:focus {
  outline: none;
}
</style>
{%- endmacro %}
